body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.controller {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* This ensures that the content inside starts from the top */
  width: 100%;
  height: 100%;
}

.canvas-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 740px; /* Explicitly setting the width */
  height: 580px; /* Explicitly setting the height */
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #000;
}
canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #000;
  width: 740px;
  height: 580px;
}

.page-3d {
  border: 2px dotted black; /* Dotted border around the page-3d */
  padding: 10px;
  display: flex;
  width: 640px; /* Explicitly setting the width */
  height: 480px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
}
label {
  margin-right: 10px;
}
